# DIRECTORY
alias ..="cd .."
alias cd..="cd .."
alias -g ...='../..'
alias -g ....='../../..'
alias -g .....='../../../..'
alias -g ......='../../../../..'
alias lsa='ls -lah'
alias l='ls -lah'
alias ll='ls -lh'
alias la='ls -lAh'

# GIT
alias gs='git status -sb'
alias gss='git status'
alias glog='git log'
alias gl='git log --oneline --decorate --stat'
alias gd='git diff --word-diff'
alias graph="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
alias gcp="echo No 🚫;"
alias gco="git checkout"
